:root {
    --color-primary: #b399d3;
    --color-secondary: #EEDD82;
    --color-text: #7230a4;
    --color-text-label: #702993;
    --color-border: #DDA0DD;
    --color-heading: #4c1666;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background: var(--color-primary);
    color: var(--color-text);
    line-height: 1.3;
}

.container, #login-container, #signup-container {
    width: 55%;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 70px;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    color: var(--color-heading);
    border-bottom: 2px solid var(--color-secondary);
    padding-bottom: 10px;
}

button, button[type="submit"] {
    background-color: var(--color-secondary);
    color: var(--color-text);
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

button:hover, button[type="submit"]:hover {
    background-color: #ebd44d;
    color: #101010;
}

td button {
    padding: 5px 10px;
    margin: 2px;
    font-size: 0.8em;
    border-radius: 5px;
    background: var(--color-secondary);
    cursor: pointer;
}

td button:hover {
    background-color: #ebd44d;
    color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

thead th {
    background-color: #fffadf;
    padding: 12px 15px;
    border-bottom: 1.7px solid var(--color-heading);
}

tbody tr {
    border-bottom: 1px solid #cfcfcf;
}

tbody tr:hover {
    background-color: #fffce3;
}

td {
    padding: 10px 15px;
}

label {
    display: block;
    font-weight: bold;
    color: var(--color-text-label);
}

input[type="text"], input[type="url"], textarea, select, input[type="email"],input[type="password"] {
    display: block;
    width: 100%;
    padding: 13px;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
    border-color: #694169;
    outline: none;
    box-shadow: 0 0 10px rgba(216, 191, 216, 0.8);
}

a {
    color: #ebd44d;
}

a:hover {
    color: #352294;
}

hr {
    border: 0;
    height: 1px;
    background: var(--color-border);
    margin: 30px 0;
}
.logout-btn {
    padding: 5px 5px;
    margin-right: 10px;
    border-radius: 12px;
    text-align: center;
}

footer {
    color: white;
    padding: 10px;
    text-align: center;
}